/* Row/Column */
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row h2 {
    text-align: center;
    margin-top: 3rem;
}

/* Collapsible */
.collapsible {
    background-color: rgb(103, 182, 209);
    color: #444;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 10%;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: rgba(84, 136, 195, 0.652);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    width: 80%;
    margin-left: 10%;
    display: none;
    overflow: hidden;
    background-color: #d1d1d1;
    margin-bottom: 2rem;
}

.rooms p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}