#information {
    background: url('https://cdn.discordapp.com/attachments/1019216084596953108/1043156954027130880/background-home.png') repeat fixed center;
    background-size: cover;
    height: 120vh;
}

#information>.div {
    position: absolute;
    width: 75%;
    border: 4px rgb(0, 0, 0);
    padding: 3rem;
    background: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding-top: 5rem;
    margin-top: 25vh;
    margin-left: 50vw;
    transform: translate(-50%);
    z-index: 10;
}

.button1 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 2em 1em;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(69, 82, 102);
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}