body {
  background-color: #ffffff;
}

#title-Tag-Line {
  font-size: 20px;
}

.carousel-wrapper-2 {
  height: 100%;
  position: relative;
  width: 80%;
  margin: 0 auto;

}

.carousel-wrapper {
  height: 100%;
  position: relative;
  width: 80%;
  margin: 0 auto;

}

.carousel-item-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 7%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1% 7%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: 2%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {

  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}


/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}


.form2 {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  height: 83%;
  max-width: 75%;
  margin-top: 0%;
  margin-right: 50%;
  padding-top: 50px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #5399d6;
  /*   z-index: 1; */
  animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}

.pageTitle {
  font-size: 2em;
  padding-left: 10%;
  font-weight: bold;
}

.secondaryTitle {
  display: center;
  color: grey;
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 75%;
  height: 83%;
  margin-top: 0%;
  margin-left: 50%;
  padding-top: 0px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #5399d6;
  /*   z-index: 1; */
  animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title {
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}


.pageTitle {
  font-size: 2em;
  padding-left: 10%;
  font-weight: bold;
}

.secondaryTitle {
  display: center;
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  width: 60%;
  height: 2em;
}

.name:hover {
  border-bottom: 5px solid #5399d6;
  height: 2em;
  width: 60%;
  transition: ease 0.3s;
}

.surname {
  background-color: #ebebeb;
  height: 2em;
  width: 60%;
}

.phone.number {
  background-color: #ebebeb;
  height: 2em;
  width: 60%;
}

.email {
  background-color: #ebebeb;
  height: 2em;
  width: 60%;
}

.email:hover {
  border-bottom: 5px solid #5399d6;
  height: 2em;
  width: 60%;
  transition: ease 0.3s;
}

.surname:hover {
  border-bottom: 5px solid #5399d6;
  height: 2em;
  width: 60%;
  transition: ease 0.3s;
}

.phone.number:hover {
  border-bottom: 5px solid #5399d6;
  height: 2em;
  width: 60%;
  transition: ease 0.3s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
  width: 60%;
}

.message:hover {
  border-bottom: 5px solid #5399d6;
  height: 10rem;
  width: 60%;
  transition: ease 0.3s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 30%;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 20%;
  color: white;
  background-color: #5399d6;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

.register {
  background-color: #046daa;
  width: 90%;
  height: 100%;
  margin-top: 45%;
  margin-left: 5%;
  margin-bottom: 5%;
  box-shadow: 0 30px 60px 0 rgba(9, 112, 239, 0.4);
}

.register h1 {
  padding-left: 35%;
}

.register button {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 20px;
  margin-left: 45%;
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;

}

.register button:hover {
  color: #001F3F;
  background-color: #fff;
}